@import "bootstrap";

body{
    background-color: salmon ;

    button{
        background-color: cornflowerblue !important;
    }

    #test {
        width: 500px;
        height: 500px;
        background-image: url('./assets/test.jpg');
    }
}

